.Pozadina {
background-image: url(Balis.jpg);
background-size: cover;
height: 1024px;
display: flex;
justify-content: center;
align-items: center;
}

.Tijelo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}
.Vrh {
background: transparent;
backdrop-filter: blur(15px) brightness(1.2);
width: 100%;
height: fit-content;
color: rgb(190, 0, 0);
text-shadow: 10px 5px 5px #450000;
text-align: center;
font-size-adjust: 1.5;
font-size: 2em;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bold;
}

.Sredina {
width: 100%;
height: 100%;
}

.Dno {
background-color: rgba(12, 228, 37, 0.8);
width: 100%;
height: fit-content;
}